* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

title {
    font-size: 175%;
  }

  body {
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
  }
    
  h1 {
    margin-bottom: 25px;
    font-weight: bold;
    text-align: center;
  }

  h2 {
    font-size: 125%;
  }

  section {
    border: 1px solid black;
    margin-right: 15px;
    padding: 1px;
    position: relative;
  }

  div {
    padding: 5px;
  }

  .menutitle {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid black;
    box-sizing: border-box;
    float: right;
    margin:-2px -2px 5px 0px;
  }

  p {
    clear: both;
    padding:10px;
    margin: 0px;
  }

  #menu1 {
    background-color:#CAA25E;
    margin-bottom: 15px;
  
  }

  #menu2 {
    background-color:#DD7272;
    margin-bottom: 15px;
  
  }

  #menu3 {
    background-color:#BAE585;
    margin-bottom: 15px;
  
  }

  #menuheader1 {
    background-color:#D1B412;
  }

  #menuheader2 {
    background-color:#EA2525;
  }

  #menuheader3 {
    background-color:#52F32E ;
  }
  
  .row{
    width: 100%;
  }
  
  /*************** Desktop Size ******************/

  @media (min-width: 992px) {
  .col-lg-4 {
      float: left;
      width: 33.33%;
    }
  
  }
  
  /**************** iPad Size ********************/

  @media (min-width: 768px) and (max-width: 991px) {
     .col-md-6 ,.col-md-12 {
      float: left;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-12 {
      width: 100%;
    }
  }
  
  @media (max-width: 766px) {
    .col-xs-12 {
      width: 100%;
      float: left;
    }
}